.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: white;
}

.linkActive {
    composes: link;
    font-weight: 800;
    color: #8202f8;
    /* color: #e84a5f; */
}